body { 
    
    padding-left: 20%;
    padding-right: 20%;
    padding: 50px 20%;
}


h1, h2, h3, bold, strong {
    color:plum 
}

h1 {
    text-transform: uppercase;
}

h1, h3 { 
    text-align: center;
}

h2 { 
    text-align: right;
    border-bottom: solid LightSlateGray 1px;
}

hr {
    border-bottom: thin dotted LightSlateGray;
    width: 50%
}

p {
    font-family:  Georgia, sans-serif;
    color: darkslategray;
    text-align: justify;
    font-style: italic;
}
 
 #big-achievement {
    color:red;
 }